@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.search__page_main {
  background: #f8f8f8;
}

.section {
  padding: 3rem 6rem;
}


.search__section_heading{
  font-size: 40px;
    font-family: 'poppins';
    font-weight: 200;
    display: flex;
    position: relative;
    align-items: center;
    min-height: 100px;
    margin-top: 0;
    padding-top: 12px;
}
.search__section_subheading{
  font-size: 16px;
  font-family: 'poppins';
  font-weight: 500;
  min-height: 18px;
  margin: 0 0 16px;
  line-height: 18px;
  text-transform: none;
}

/* ----- Filter bar ----- */
.filters__bar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #f8f8f8;
  padding: 10px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  */
}

.search__filter_input {
  box-shadow: none !important;
  height: 38px;
  width: 100%;
  padding: 8px;
  font-size: 14px;
  font-weight: 400;
  background-color: #fdfbfb;
  border: solid 1px #e6e6e6;
  border-radius: 6px;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.search__filter_input:focus {
  border-color: #969696;
  outline: none;
}

.search__filter_input option {
  padding: 10px; /* Add padding to options */
  background-color: #fff !important; /* Background color of options */
  color: #333 !important; /* Text color of options */
  border-bottom: 1px solid #ddd; /* Separate options with a border */
}





/* ----- event map section ----- */


.result__map_wrapper {
  padding: 12px;
  border-radius: 8px;
  background: white;
}

.result__map {
  height: 350px;
}

.result__map iframe {
  height: 100% !important;
}

.result_description {
  padding: 0rem .8rem .5rem;
  font-size: 16px;
  color: black;
}


/* ----- event search card ----- */

.event__search_card,
.card__data_wrapper,
.card__image_slider {
  min-height: 264px;
}

.event__search_card {
  display: block;
  position: relative;
  background-color: #fff;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 12px;
  min-height: 264px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .14);
  transition: all 0.3s ease-in-out;
}

.event__search_card:hover {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .4);
}

.card__featu#f91942 {
  position: absolute;
  left: 0;
  top: 15px;
  font-size: 16px;
  font-family: georgia, "Times New Roman", times, serif;
  font-weight: 100;
  background-color: #f91942;
  color: #fff;
  padding: 2px 8px;
  z-index: 5;
  border-radius: 0 4px 4px 0;
}

.card__like_btn {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;
  border: none;
  z-index: 2;
}

.card__like_btn i {
  font-size: 16px;
  color: #f91942;
}

.card__image_slider {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-wrapper {
  object-fit: cover;
  padding-bottom: 2.2rem;
}

.card__img_slide {
  width: 100%;
  object-fit: cover;
  height: 220px;
  position: relative;
}

.card__img_slide img {
  /* position: absolute; */
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card__slide_arrow {
  top: 100%;
  height: 16px;
  z-index: 9999;
  color: #f91942;
}

.swiper-button-next {
  right: 0px;
}

.swiper-button-prev {
  left: 0px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 12px;
}

.card__pagination {
  bottom: 4px !important;
}

.card__pagination .swiper-pagination-bullet-active {
  background: #f91942 !important;
}

.card__data_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card__title {
  color: black;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
  text-transform: capitalize;
  text-decoration: none !important;
}

.card__location {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  display: flex;
  line-height: 20px;
  margin-bottom: 0;
}

.card__properties {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 4px;
}

.card__property {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  height: 24px;
  padding: 2px 8px;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  gap: 8px;
}

.card__property:nth-child(odd) {
  background-color: #EDE5D4;
  color: #725d3b;

  background-color: rgb(255, 220, 220);
  color: #f91942;
}

.card__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.card__footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  min-height: 40px;
}

.card__price_wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0;
}

.card__price {
  margin: 0;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.footer__btn_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__response {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #4f4f4f;
  text-align: right;
  margin-right: 12px;
  margin-bottom: 0;
}

.card__btn {
  border: 1px solid #f91942;
  background-color: #f91942 !important;
  color: #fff !important;
  font-weight: 600;
  font-size: 14px;
  border-radius: 4px !important;
  padding: 10px 15px !important;
  display: inline-block;
  text-align: center;
}


@media (max-width: 1200px){
  .section {
    padding: 2rem 1.5rem;
  }
  .card__featu#f91942{
    font-size: 12px;
  }
  .card__btn{
    font-size: 10px !important;
    padding: 10px 12px !important;
  }
}

@media (max-width: 992px) {
  .section {
    padding: 2rem 3rem;
  }
  .card__featu#f91942{
    font-size: 14px;
  }
  .card__btn{
  font-size: 16px !important;
  padding: 10px 12px !important;
}
}

@media (max-width: 768px) {
  .section {
    padding: 2rem;
  }
}

@media (max-width: 576px) {
  .section {
    padding: 1.5rem 1rem;
  }

  .card__slide_arrow{
    display: none;
  }

  .card__data_wrapper{
    margin-top: 10px;
  }
  .card__footer{
    position: relative;
    flex-direction: column;
    align-items: start;
  }
  .footer__btn_wrapper{
    width: 100%;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    margin: 10px 0;
  }
  .card__btn{
    width: 100% !important;
  }
}
